<!--header sec-->
<div class="header-search-sec full">
    <div class="container">
        <div class="full header-search-sec-inner">
        <h1>Gif Search</h1>
        <div class="search-box-sec full">
            <input name="search" class="form-control" #searchTerm placeholder="What are you looking for?"/>
            <select disabled>
                <option>Show All</option>
                <option>Show All</option>
            </select>
            <button (click)="performSearch(searchTerm)" class="input-group-text form-control-submit"><img src="assets/images/search-icon.png" alt="search-icon"/></button>
        </div>
        <p class="subtitle">You can search any gif with our search</p>
        <p>Everything you need for your creative projects. websites, banners, presentations, magazines and advertising.</p>
        </div>
    </div>
</div>

<!--body sec-->
<div class="full main-sec">
<div class="container">
    <div class="show-res-sec full"  *ngIf="!status">
        <p>You can see your search result here.</p>
    </div>

<ng-masonry-grid *ngIf="status"
    [masonryOptions]="{ transitionDuration: '0.8s', gutter: 20 }" 
    [useImagesLoaded]="true"
    >
<!-- Masonry Grid Item -->
<ng-masonry-grid-item id="{{'masonry-item-'+i}}" *ngFor="let g of giphies; let i = index;"> 
<!-- Grid Content  -->
<img src="{{g.images.original.url}}">
</ng-masonry-grid-item>
</ng-masonry-grid>
</div>

<!--footer sec-->
<div class="footer">
    <div class="container">
        <div class="sign-up">
            <h3>Sign up and <br>
                get free content every week.</h3>
            <div class="mail-section">
                <input type="email" placeholder="Enter your email..." />
                <button>Sign Up</button>
            </div>    
        </div>
        <div class="browse-categories">
            <h3>Browse by categories</h3>
            <ul>
                <li>Graphics</li>
                <li>PSDs</li>
                <li>Icons</li>
                <li>Templates</li>
                <li>Themes</li>
            </ul>
            <ul>
                <li>Addons</li>
                <li>Fonts</li>
                <li>Textures</li>
                <li>Patterns</li>
                <li>Backgrounds</li>
            </ul>
            <ul>
                <li>Buttons</li>
                <li>Forms</li>
                <li>GUI</li>
                <li>Navigation</li>
                <li>UI Kits</li>
            </ul>
            <ul>
                <li>Inforgraphics</li>
                <li>Graphs</li>
                <li>Logos</li>
                <li>Vectors</li>
                <li>Business Cards</li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="links">
        <span><a href="#" alt="footer-link">Affiliates</a></span>   /   <span><a href="#" alt="footer-link">Contributors</a></span>   /   <span><a href="#" alt="footer-link">Press/Media</a></span>   /   <span><a href="#" alt="footer-link">Careers</a></span>   /   <span><a href="#" alt="footer-link">About</a></span>   /   <span><a href="#" alt="footer-link">Contact</a></span>
        <p>Copyright © 2018 myCompany All rights reserved.</p>
        </div>
        <div class="social-icon">
            <span><a href="#" alt="social-link"><img src="assets/images/fb.png" alt="social-icon"/></a></span>
            <span><a href="#" alt="social-link"><img src="assets/images/twitter.png" alt="social-icon"/></a></span>
            <span><a href="#" alt="social-link"><img src="assets/images/google-plus.png" alt="social-icon"/></a></span>
            <span><a href="#" alt="social-link"><img src="assets/images/rss.png" alt="social-icon"/></a></span>
        </div>
    </div>
</div>

<!--Loader Html-->
<div class="lds-css ng-scope" *ngIf="loading">
    <div style="width:100%;height:100%" class="lds-dual-ring">
      <div></div>
    </div>
  </div>

<router-outlet></router-outlet>
